{% extends 'base.html' %}

{% block title %}
    {{super()}} | Classes
    
{% endblock title %}
   
{% block content %}
    <p id="teacher" hidden>{{current_user.id}}</p> 

    <div class="row justify-content-center">
        <div class="col-3">
            <h1>Your Classes</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
          <section class="teacher-classes">

          </section>
            
        </div>
    </div>
    
    <script src="{{url_for('static',filename='js/classes.js')}}"></script>
    
    
    
{% endblock content %}