{% extends 'base.html' %}

{% block title %}
    {{super()}} | Classes
    
{% endblock title %}
   
{% block content %}

    <div class="row justify-content-center">
        <div class="col-3"> 
            <h1>{{group}} {{classs}}</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem; background-color: rgb(141, 89, 171)  !important;">
              <div class="card-header">Next class</div>
              <div class="card-body">
                <h5 class="card-title">Date: Wed 26/10/22 </h5>
                <h6 class="card-text">Assignment: No</h6>
                <h6 class="card-text">Assesment: Yes</h6>
                <br>
              </div>
            </div>
            <button class="btn btn-success btn-lg" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">New Event +</button>
        </div>
          <div class="col-4">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem; background-color: rgb(181, 68, 152)  !important;">
              <div class="card-header">Last added Event</div>
              <div class="card-body">
                <h5 class="card-title">Event: {{events[0][0]}} </h5>
                <h6 class="card-text">Name: {{events[0][1]}}</h6>
                <h6 class="card-text">Date:{{events[0][3]}} </h6>
                <br>
              </div>
            </div>
            
        </div>
        
        <div class="col-4">
          
            <div class="card text-white bg-success mb-3" style="max-width: 22rem; background-color: rgb(220, 165, 36)  !important;">
              <div class="card-header"><h4>Week Events</h3></div>
              <div class="card-body">
                {% if nwe %}
                  <p>no registered events for this week</p>
                {% else %}
                  {% for a in week_events %}
                  <div class="mt-3" style="border-bottom: 3px solid;">
                    <h6 class="card-title">Event: {{a[0]}}</h6>
                    <h6 class="card-title">Name: {{a[1]}} </h6>
                    <h6 class="card-text">Description: {{a[2]}}</h6>
                    <h6 class="card-text">Date: {{a[3]}} </h6>
                  </div>
                  {% endfor %}
                {% endif %}
                  
                <br>
              </div>
              <div class="card-footer">
                <a href="{{url_for('teachers.class_events',grade_subject = grade_subject )}}" style="color: white;">All Bimester events</a> 
              </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-5">
        <h3>Exams</h3>
        <div class="table-responsive">
            <table class="table table-dark table-sm">
            <thead>
              <tr>
                <th scope="col">Exam</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                
              </tr>
            </thead>

            <tbody>
              {% for x in exams  %}
                <tr>
                  <td>{{x[1]}}</td>
                  <td>{{x[2]}}</td>
                  <td>{{x[3]}}</td>
                </tr>
              {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-5 offset-2">
        <h3>Laboratories</h3>
        <div class="table-responsive">
            <table class="table table-dark table-sm">
            <thead>
              <tr>
                <th scope="col">Laboratory</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
              </tr>
            </thead>

            <tbody>
              {% for x in labs  %}
                  <tr>
                    <td>{{x[1]}}</td>
                    <td>{{x[2]}}</td>
                    <td>{{x[3]}}</td>
                  </tr>
                {% endfor %} 
            </tbody>
          </table>
        </div>
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-5">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
              <strong>Students list</strong> 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for x,y in students  %}
                    <div class="row">
                        <div class="col">
                            <h6 class="text">{{x}}</h6> <h6 class="text">{{y}}</h6>
                        </div>
                    </div>       
                {% endfor %}
            </div>
          </div>
        </div>
    </div> 
    </div>
    <div class="col-5 offset-2">
      <div class="d-grid gap-2">
        <a href="{{url_for('teachers.grades',grade_subject=grade_subject)}}" class="btn btn-success">Class Grades <i class="bi bi-mortarboard"></i></a>
        <!-- <button class="btn btn-success">Class Grades <i class="bi bi-mortarboard"></i></button> -->
      </div>
    </div>
  </div>

  

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Add New Event</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form method="POST">
      
      <div class="row">
        {{form.hidden_tag()}}
        <div class="col-12 mb-3">
          {{form.event_type.label(class="form-label")}}
          {{form.event_type(class="form-select")}}
        </div>
        <div class="col-12 mb-3">
          {{form.name.label(class="form-label")}}
          {{form.name(class="form-control")}} 
        </div>
        <div class="col-12 mb-3">
          {{form.description.label(class="form-label")}}
          {{form.description(class="form-control")}}
        </div>
        <div class="col-12 mb-3">
          {{form.submit_date.label(class="form-label")}}
          {{form.submit_date(class="form-control")}}
        </div>
        <div class="col-12 mb-3">
          <div class="d-grid gap-2">
            {{form.add_event(class="btn btn-success")}}
          </div>
        </div> 
      </div>
    </form>
  </div>
</div>
    
{% endblock content %}