{% extends 'base.html' %}

{% block title %}
    {{super()}} | Classes
    
{% endblock title %}
   
{% block content %}

    <div class="row justify-content-center">
        <div class="col-3">
            <h1>Class</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Students list
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for x,y in students  %}
                            <h6 class="text">{{x}}</h6> <h6 class="text">{{y}}</h6>
                        {% endfor %}
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
{% endblock content %}