{% extends 'base.html' %}

{% block title %}
    {{super()}} | Grades
    
{% endblock title %}
   
{% block content %}
  <div class="row justify-content-center">
    <div class="col-3"> 
        <h1>{{group}} {{classs}}</h1>
        <h3>Grades</h3>
    </div>
  </div>

    <div class="row mt-4">
        <div class="col col-lg-8">
          
          <div class="table-responsive">
              <table class="table table-dark table-sm">
              <thead>
                <tr>
                  {% for a in grades[0].keys()  %}
                    <th scope="col">{{a}}</th>
                  {% endfor %}
                 
                </tr>
              </thead>
  
              <tbody>
                {% for x in grades  %}
                  <tr>
                  {% for y in x.values() %}
                    <td>{{y}}</td>
                    {% endfor %}
                  </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
    </div>
{% endblock content %}