{% extends 'base.html' %}

{% block title %}
    {{super()}} | Classes
    
{% endblock title %}
   
{% block content %}
    <h1>grades</h1>

    <div class="row mt-4">
        <div class="col col-lg-8">
          
          <div class="table-responsive">
              <table class="table table-dark table-sm">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Lastname</th>
                  <th scope="col">Task 1</th>
                  <th scope="col">Task 2</th>
                  <th scope="col">Task 3</th>
                  <th scope="col">Task 4</th>
                  
                </tr>
              </thead>
  
              <tbody>
                {% for x in grades  %}
                  <tr>
                    
                    <td>{{x['name']}}</td>
                    <td>{{x['lastname']}}</td>
                    <td>{{x['task 1']}}</td>
                    <td>{{x['task 2']}}</td>
                    <td>{{x['lab 1']}}</td>
                    <td>{{x['quiz 2']}}</td>
                  </tr>
                {% endfor %} 
              </tbody>
            </table>
          </div>
        </div>
    </div>
{% endblock content %}