*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
 }
 .feather { 
     width: 16px;
     height: 16px; 
   }
 #sidebarMenu{
     overflow-y: scroll; 
 }
 .sidebar {
     position: fixed;
     top: 0;
     /* rtl:raw:
     right: 0;
     */
     bottom: 0;
     /* rtl:remove */
     left: 0;
     z-index: 100; /* Behind the navbar */
     padding: 48px 0 0; /* Height of navbar */
     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
   }
   
   @media (max-width: 767.98px) {
     .sidebar {
       top: 12rem;
     }
   }
   
   .sidebar-sticky {
     position: relative;
     top: 0;
     height: calc(100vh - 48px);
     padding-top: .5rem;
     overflow-x: hidden;
     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
   }
   
   .sidebar .nav-link {
     font-weight: 500;
     color: #333;
   }
   
   .sidebar .nav-link .feather {
     margin-right: 4px;
     color: #727272;
   }
   
   .sidebar .nav-link.active {
     color: #2470dc;
   }
   
   .sidebar .nav-link:hover .feather,
   .sidebar .nav-link.active .feather {
     color: inherit;
   }
   
   .sidebar-heading {
     font-size: .75rem;
   }
 
 .sidebar-item .card:hover{
     background-color: #b0b1b6;
 }
 .navbar{
     background-color: rgba(50, 50, 50, 0.987); 
 
 }
 .navbar-brand {
    height: 100%;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(255, 254, 254, 0.925);
    overflow: hidden;
   }
/* 
.logo{
    max-height: 1rem;
    width: 100%;
    } */
 
img{
    width: 100%;
    height: 100%;
}
   
 .navbar .navbar-nav {
     padding: .75rem 1rem;
 }
   
 .navbar .navbar-toggler {
     top: .25rem;
     right: 1rem;
 }
 .navbar .form-control {
     padding: .75rem 1rem;
   }
   
.login-instructions{
    text-align: justify;
    font-style: italic;
    margin-bottom: 0.7rem;
    font-size: 0.94rem;
}
.login-instructions p{
    margin: 0.2rem;
    font-weight: bold;
}
 .form-control-dark {
     color: #fff;
     background-color: rgba(255, 255, 255, .1);
     border-color: rgba(255, 255, 255, .1);
   }
   
 .form-control-dark:focus {
     border-color: transparent;
     box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
   }
 .navbar .container-fluid{
     padding-left: 50px;
     padding-right: 50px; 
 }
 
 .nav-item .navbar-text{
     color: #ffffff ;  
 }
 .navbar-text{
     padding: 50%;
 }

 
 .user{
     padding-left: 50px;
     padding-right: 50px;
 }
 .text-login{
     text-align: center;
 }
 .d-grid .text-login{
     margin-top: 15px;
     margin-bottom: 1px;
 }
 
 .d-grid .btn-outline-primary{
     margin-top: 2px;
     border-color: #0c162c;
      
 }
 
 .d-grid .btn-outline-primary:hover{
     background-color: rgb(23, 63, 97);
      
 }
 
 .d-grid a{
     color: #0c162c;
 }
 .container-fluid{
     width: 100%;  
 }
 
 .main .container-fluid {
     padding: 50px;
 }
 .dropdown-item{
    color: white;
 }

.next-class{
    background-color: #11ad77;
    color: #ffffff;
    font-size: 1.35rem;
    height:100%;
    width: 100%;
}
.large-card{
    background-color: #026869; 
    color: #ffffff;
}
.large-card h5, .large-card h6{
    color: rgb(129, 187, 232);
}
.week-summary{
    padding: 5px;
    
}
 .week-summary p{
    border: solid 2px rgb(129, 187, 232);
    border-radius: 25px;
    display: inline-block;
    padding: 0.7rem;
    margin-top: 0.5rem;

} 
.next-class h6,.next-class h4{
    color: #ffffff;
    
    padding-bottom: 0;
}

.my-group{
    background-color: #da7420;
    color: #ffffff;
       
}
.my-group h6{
    color: #ffffff;
}
.group-classes{
    margin-bottom: 10px; 
    border-radius: 25px;
    border: solid white 1px;
    padding: 0.5rem;
       
}

.card-footer{
    color: white;
}
 
.teacher-classes{ 
    padding: 0.7rem;
    
    
}

.class-card{
    height: 50%;
    display: inline-block;
    background-color: #823aca;
    color: #ffffff;
    padding: 0.9rem;
    margin: 0.8rem;
    border-radius: 12px;
    text-decoration: none;
    
}
.class-card:hover{
    background-color: #9847ea;
}
.class-card h5, .class-card h6{
    
    color: #ffffff;
    
}
 

 
 body{
     background-color: rgb(163, 163, 163);
 }
 
 .white-card .card-body{
     background-color: rgb(229, 229, 229);
 }
 
 
 .title{
     text-align: center;
     
 }
 
 h1,h2,h3,h4,h5,h6{
     color: rgb(23, 63, 97);
 }
 /* #card{
     margin-top: 80px;
 */
 .text{
     display: inline-block;
     padding-left: 5px;
 
 }
 
 /* .files .bi{
     color: rgb(11, 94, 11);
 } */
 .announcement{
    height: 100%;
    border-radius: 5px;
    background-color: rgb(235, 238, 240);
 }
 
 .announcement2{
    border-radius: 5px;
    height: 50px;
    background-color: #e7e8e8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:#b0b1b6;
 }
 .announcement2 h5{
    padding: 0.5rem;
 }
 .announcements_list{
    margin: 3%;
    padding: 3%;
    border-radius: 25px;
    
    
    border: solid 1px rgb(22, 152, 89);
    color: #e7bf10 !important;
    text-decoration-color: #b2e40d;
 }

 .current-reports{
    padding: 5%;
 }
.new_report{
    border-bottom: solid 1px rgb(200, 200, 200);
    padding-bottom: 10px;
}
 .announcements_list_inner{
    margin: 2px;
    color: #075b5c;
 }
 fieldset{
    border: 1px solid #b0b1b6;
    border-radius: 5px;
    padding: 1rem;
    background-color: #ffffff;

 }

 .current-reports{
    border-left: 1px solid rgb(198, 198, 198);
    padding-bottom: 5%;
    
 }

.alert-messages{
    background-color: #03b44d;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
   
}
 
 
 td,th {
     border: 1px solid rgb(41, 43, 46);
     text-align: left;
     padding: 5px;
 }
 
 tr:nth-child(even) {
     background-color: #363635;
   }
 
 
   
 .modal-title{
     color: rgb(23, 63, 97);
 }
   